@page
@model Plug3Tra_Pharmacy.Pages.NewsAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบรายการยา";
}

<h2>ลบรายการยาออกจากร้าน</h2>

<h3>ต้องการลบรายการนี้หรือไม่?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            สถานะของยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.ShortName)
        </dd>
        <dt>
            ชื่อยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsStatus)
        </dd>
        <dt>
            วันที่ของจะเข้าเพิ่ม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
            รายละเอียด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
        <dt>
            จำนวนคงเหลือ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLat)
        </dd>
        <dt>
            ราคาต่อหน่วย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLng)
        </dd>

    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="News.NewsID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
