@page
@model Plug3Tra_Pharmacy.Pages.NewsAdmin.DetailsModel

@{
    ViewData["Title"] = "ดูข้อมูล";
}

<h2>ดูข้อมูลของยา</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            สถานะของยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsCat.ShortName)
        </dd>
        <dt>
            ชื่อยา
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsStatus)
        </dd>
        <dt>
            วันที่ของจะเข้าเพิ่ม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.ReportDate)
        </dd>
        <dt>
            รายละเอียด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.NewsDetail)
        </dd>
        <dt>
            จำนวนคงเหลือ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLat)
        </dd>
        <dt>
            ราคาต่อหน่วย
        </dt>
        <dd>
            @Html.DisplayFor(model => model.News.GpsLng)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.News.NewsID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
