@page
@model Plug3Tra_Pharmacy.Pages.NewsAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>รายการยาที่มีในร้าน Plug3Tra</h2>

<p>
    <a asp-page="Create">เพิ่มรายการยา</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                สถานะของยา
            </th>
            <th>
                ชื่อยา
            </th>
            <th>
                วันที่ของจะเข้าเพิ่ม
            </th>
            <th>
                รายละเอียด
            </th>
            <th>
                จำนวนคงเหลือ
            </th>
            <th>
                ราคาต่อหน่วย(บาท)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.News) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsCat.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewsDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLng)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
