@page
@model Plug3Tra_Pharmacy.Pages.NewsCategoryAdmin.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>NewsCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                สถานะสินค้า
                <input asp-for="NewsCategory.ShortName" class="form-control" />
                <span asp-validation-for="NewsCategory.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                หมายเหตุ
                <input asp-for="NewsCategory.FullName" class="form-control" />
                <span asp-validation-for="NewsCategory.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
