@page
@model Plug3Tra_Pharmacy.Pages.NewsCategoryAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>สถานะของร้าน</h2>

<p>
    <a asp-page="Create">สร้างสถานะสินค้าใหม่</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                สถานะสินค้า
            </th>
            <th>
                หมายเหตุ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NewsCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.NewsCategoryID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.NewsCategoryID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.NewsCategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
